@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
}

p,li,a{
    font-family: Open Sans, serif;
}

header{
    position: relative;
    margin-bottom: 30px;
}

header img {
    position: absolute;
    top: 25px;
    left: 295px;
    width: 8%;
}

header nav {
    display: inline-block;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    margin: 30px 0px 0px 880px;
}

header nav ul li a {
    padding-right: 35px;
    font-weight: bold;
    color: #072454;
    font-size: 14px;
}

.img__doggo article {
   position: absolute;
   top: 150px;
   left: 300px;
   width: 20%;
}

.img__doggo article h1 {
    color: white;
    font-size: 60px;
    font-weight: 200;
    padding: 0;
    line-height: 1.2;
}

.img__doggo article h1 span{
    font-weight: 900 ;
}


.img__doggo article p {
    color: white;
    margin-top: 15px;
    font-size: 14px;
    line-height: 2;
}

.img__doggo article button {
    margin-top: 40px;
    border: none;
    border-radius: 24px;
    padding: 17px 42px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.img__doggo {
    background-image: url(./images/header-bg.png);
    height:81vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img__doggo img{
    width: 53%;
    height: 102%;
    position: absolute;
    top: 65px;
    left: 470px;
}

/* Main */

.services {
    text-align: center;
    margin-top: 190px;
    width: 100%;
    height: 105vh;

}

.services h1 {
    font-size: 42px;
    font-weight: bold;
}

.services p {
    font-size: 14px;
    color: gray;
    width: 35%;
    display: inline-block;
    line-height: 2;
    margin-bottom: 90px;
}

.services div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.services > div > artcle {
    width: 20%;
    height: 50%;
    border: 1px solid #FE975D;
    border-radius: 8px;
    position: relative;
}

.background {
    position: absolute;
    width: 45%;
    top: 60px;
    right: 85px;
    z-index: 1;
}

.upper {
   position: absolute;
   width: 25%;
   z-index: 2;
   top: 85px;
   left: 110px;
}



.services > div > artcle > h4 {
   margin-top: 220px;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}

.services > div > artcle > p {
    text-align: none;
    width: 75%;
    margin-bottom: 40px;
}

.cat {
    position: relative;
    height: 70%;
    margin-bottom: 500px;
}

.cat img {
    position: absolute;
    width: 25%;
    top: 0px;
    left: 290px;
}

.cat article {
    display: inline-block;
    position: absolute;
    width: 27%;
    left: 780px;
    top: 80px;
    height: 50%;

}

.cat article h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.2;
}

.cat article h1 span {
    font-weight: bold;

}

.cat article p{
    margin-top: 25px;
    font-size: 14px;
}

.cat article button {
    margin-top: 60px;
    border: none;
    color: white;
    background-color: #EE590C;
    font-size: 16px;
    border-radius: 24px;
    padding: 15px 50px;
    font-weight: 500;
}

.last {
    background-image: url(./images/cats-bg.png);
    height: 70vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
    position: relative;
}



.last h1 {
    color: white;
    font-size:42px;
    margin-bottom: 22px;
}

.pu {
    color: white;
    font-size: 22px;
    width: 40%;
    margin: 0 auto;
    line-height: 1.5
}

.last button {
    border: none;
    color:  #EE590C;
    background-color: white;
    font-size: 14px;
    border-radius: 24px;
    padding: 17px 42px;
    font-weight: 600;
    margin: 45px 170px 0 0 ;
}

.phone {
    left: 770px;
   font-size: 16px;
   color: white;
   position: absolute;
   top: 360px
}

.phone span{
    font-weight: bold;
    padding-left: 10px;
}

footer {
    display: flex;
    height: 50vh;
    justify-content: center;
    padding-top: 120px;
    background-color: #F8F8F8;
}

.first {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 40px;
    color:black;
    letter-spacing: 4;
}

footer ul li  {
    font-size: 14px;
    margin-bottom: 15px;
    color: gray;
}

footer ul {

    width: 17vw;
}

.footer__logo{
    width: 50%;
}
