*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eee;
}

main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    margin: 2em auto 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main > div {
    background-color: #eee;
    flex-basis: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

main > article {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: gray;
}

p {
    margin-bottom: 1.5em;
    color: #666;
    line-height: 1.5;
}

button {
    display: inline-block;
    padding: 0.75em 1.25em;
    margin-right: 1.5em;
    background-color: #eee;
    border-radius: 3px;
    color: #555;
    font-size: 1em;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #663399;
    color: #fff;
}

footer {
    display: flex;
    gap: 1rem;
}

@media (min-width: 800px) {
    main {
        width: auto;
    }
}

@media (min-width: 1200px) {
    main {
        width: auto;
    }
}
