.content-second {
    display: flex;
    gap: 1em;
    padding: 4em 2em;
    background-color: rgba(56, 56, 56, 1);
}

.list{
    text-align: center;
}

.list h5 {
    color: #fff;
    padding-bottom: 2em;
}

.list p {
    color: rgba(108, 108, 99, 1);
    font-size: 0.8em;
}