html {
    font: 12px/1.5 'Helvetica', sans-serif;
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}

body,
input,
textarea,
ul,
ol {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.3em;
    line-height: 1.2;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}