/* Standard reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 2em;
}

p {
    margin-bottom: 1em;
}

code {
    display: block;
    padding: 2em 2em 0.5em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    overflow: auto;
}

form {
    margin-bottom: 2em;
}

label {
    display: inline-block;
    margin-bottom: 0.5em;
}

input {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    outline: none;
    margin-right: 0.5em;
}

input:focus {
    border-color: #090;
}

button {
    padding: 0.5em 1em;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #bbb;
}
