.section-finbest-icon {
    display: flex;
    background-color: rgba(173, 226, 223, 1);
}

.media {
    margin: 0 5em 0 15em;
    border: 1px dashed rgba(152, 184, 182, 1);
}

.finbest-content {
    margin-top: 4em;
}

.finbest-content h3 {
    font-size: 3em;
    width: 80%;
}

.finbest-content :nth-child(2){
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.3em;
}

.finbest-content :nth-child(3) {
    font-size: 1.1em;
    padding-bottom: 0.9em;
    width: 70%;
}

.finbest-content :nth-child(4) {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 0.3em;
}

.finbest-content :nth-child(5){
    font-size: 1.1em;
}

.finbest-content .link {
    padding-top: 4em;
}

.finbest-content .link::after{
    display: block;
    content: '';
    border-bottom: 1px solid #000;
    width: 25%;
}

.finbest-content .link a {
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}
