.animals-need {
    margin-top: 1em;
}

.animals-need h3 {
    text-align: center;
    padding-bottom: 0.5em;
}

.animals-need>p {
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

.animal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 2em 3em;
}

.card {
    text-align: center;
}

.card-media i {
    font-size: 5em;
    padding-bottom: 0.3em;
    color: rgba(133, 220, 255, 1);
}

.card-content h5{
    padding-bottom: 1em;
}