.site-header nav ul {
    padding: 1.5em 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.site-header nav ul li {
    padding-right: 2em;
    margin-left: 1em;
}

.site-header nav ul li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.site-header .left {
    margin-right: auto;
    padding-left: 5em;
}

.side-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(133, 220, 255, 1);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 2.5em;
   padding-bottom: 0.5em;
   padding-right: 3.5em;
}

.content p {
    width: 66%;
    font-size: 1.1em;
}

.link-btn{
    padding-top: 2em;
    margin-left: 5em;
}

.link-btn .btn-left{
    margin-right: 1.5em;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1em 4em 1em 4em;
    border-radius: 0.3em;
}

.link-btn .btn-right {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 1em 4em 1em 4em;
    border-radius: 0.3em;
}

.media {
    margin-right: 2.5em;
}

.media img {
    display: block;
    max-width: 100%;
    width: 30em;
    height: 30em;
}