@media (width <=600px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-light {
        padding-top: 1.5em;
    }

    .hero img {
        display: none;
    }

    .container-fluid .container {
        padding: 0;
    }

    .container-fluid .container h1 {
        margin: 1em 0 0.5em 0;
        text-align: center;
        font-size: 3em;
    }

    .container-fluid .container p {
        font-size: 0.9em;
        text-align: center;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
    }

    .hero-btns a:last-child {
        text-align: center;
    }

    .service-txt h2 {
        text-align: center;
        font-size: 2em;
        line-height: 1.2;
    }

    .service-btn a:first-child {
        text-align: center;
        padding: 1.5em 4em;
        margin: 0 auto;
    }

    .service-box {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .service-box img {
        margin: 1em 0 0 0.8em;
        width: 4em;
    }

    .service-box h3 {
        font-size: 1.5em;
        margin: 1em 0 0 0.5em;
    }

    .service-box p {
        font-size: 0.8em;
    }

    .about {
        margin-bottom: 4em;
    }

    .about h5 {
        text-align: center;
    }

    .about h2 {
        text-align: center;
        font-size: 2em;
        line-height: 1.2;
    }

    .about p {
        text-align: center;
    }

    .about .col-lg-6 {
        margin-top: 4em;
    }

    #contact-us h5 {
        text-align: center;
    }

    #contact-us h2 {
        text-align: center;
        font-size: 2.2em;
    }

    #contact-us .container div:last-child div:first-child{
       min-width: 8em;
    }

    #contact-us .container div:last-child div:last-child a {
        visibility: hidden;
    }


    footer h3 {
        text-align: center;
        font-size: 2.2em;
    }

    footer h6 {
        padding: 0;
    }

    .contact-nav {
        display: flex;
        flex-direction: column;
    }
}