* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box-model{
    max-width: 600px;
    margin: 4em auto;
}

.box-model div {
    border: 1px dashed #333; /* Border for the box model container */
    padding: 0.5em 2em 2em 2em;
}

.box-model div:before{
    display: block;
    padding-bottom: 0.5em;
    margin-left: -1em;
}

.margin {
    background-color: #FF966F; /* Margin color */
}

.margin::before{
    content: 'margin';
}
.border {
    background-color: #FFE8C6; /* Border color */
}

.border::before {
  content: 'border';
}

.padding {
    background-color: #85EB85; /* Padding color */
}

.padding::before {
  content: 'padding';
}

.content {
    background-color: #A3D2E2; /* Content background color */
    text-align: center;
}
