body {
  font-family: Helvetica, sans-serif;
  color: #273240;
}

.enterprise {
  background-color: #f6f8f9;
  padding: 0 24px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 960px;
  margin: 60px auto;
}

.enterprise .info {
  width: 40%;
  padding: 48px 0;
}

.enterprise .subtitle {
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: normal;
}

.enterprise .title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: normal;
}

.enterprise .desc {
  margin-bottom: 20px;
  color: #646f79;
}

.enterprise .btn {
  all: unset;
  border: 1px solid #273240;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: bold;
}

.enterprise .btn.btn-primary {
  border-color: #786eff;
  background-color: #786eff;
  color: white;
  margin-right: 12px;
}

.enterprise .img {
  width: 30%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
