@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'Poppins', sans-serif;
}

h3 {
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container header {
    text-align: center;
    padding: 20px 0 5px;
}

.container header span {
    color: rgba(64, 132, 198, 1);
}

.cards-list {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1 0 30%;
    border-radius: 12px;
    background-color: rgba(129, 157, 175, 1);
}

.card img {
    display: block;
    width: 100%;
    border-radius: 12px;
}

.card .content {
    padding: 15px;
}

.card a {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(50, 125, 196, 1);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid rgba(111, 127, 205, 1);
    box-shadow: 0 0 2px 0 grba (255, 255, 255, 0.5);
}