div {
    width: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}
