body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.plans {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
}

.music-image {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 30%;
    height: auto;
}

.plans h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.plan {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    width: 45%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.individual-plan {
    background-color: white;
}

.family-plan {
    background-color: white;
}

.plan h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #1DB954;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    margin-bottom: 10px;
}

.trial {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

.price {
    background-color: #191414;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.payment {
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: left;
    position: relative;
}

.payment h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.dogopal-image {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 25%;
    height: auto;
}

.difference {
    background-color: white;
    color: black;
    padding: 50px 20px;
    text-align: center;
}

.difference h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.difference p {
    margin-bottom: 40px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

td {
    background-color: white;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

td img {
    width: 20px;
    height: 20px;
}

tr:nth-child(2n+1) td {
    background-color: #CCCBCB;
}

tr:nth-child(2n) td {
    background-color: #81D8A0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
