@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font: 16px/1.5 "PT Sans", sans-serif;
}

body, input, textarea, button {
  font: inherit;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  display: block;
  list-style: none;
}

.main-nav a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.flex-columns {
  display: flex;
}

.flex-columns.c2 > * {
  flex: 0 0 40%;
}

.flex-columns.c3 > * {
  flex: 0 0 30%;
}

.section .wrapper {
  max-width: 700px;
  /*max-width: 1100px;*/
  margin: 0 auto;
}

.section .wrapper.wide {
  max-width: 1800px;
}

.section-catalog {
  background: #60ACC1;
}

.section-banner,
.section-about,
.section-catalog header {
  text-align: center;
}

.section-catalog .wrapper  {
  padding: 1em 0 2em 0;
}

.section-catalog header h3 {
  font-size: 1.2em;
}

.section-catalog .flex-columns.c2 article {
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

.section-catalog .flex-columns.c2 article > * {
  flex: 0 0 50%;
}

.section-catalog .flex-columns.c2 article h4 {
  font-size: 1em;
  text-align: center;
}

.section-catalog .flex-columns.c2 article .media {
  overflow: hidden;
  background: #000;
  position: relative;
}

.section-catalog .flex-columns.c2 article .media img {
  position: absolute;
  height: 100%;
  width: auto;

}

.section-catalog .flex-columns.c2 article section {
  background: #fff;
  padding: 3em 2em;
}

.section-catalog .flex-columns.c3 {
  gap: 3em;
}

.section-catalog .flex-columns.c3 img {
  box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
}

.site-banner .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer {
  background: #2D333C;
  color: #DDD;
  text-align: center;
}

.site-footer .wrapper {
  padding: 1em 0;
}

