.section-plans {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.section-plans h5 {
    white-space: nowrap;
    padding: 2em 0 2em 3.3em;
}

.section-plans .first-p {
    font-size: 0.9em;
    padding-left: 4.5em;
    color: rgba(94, 89, 89, 1);
}

.plans {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    width: 0%;
    margin-top: -7em;
    margin-left: 43em;
    padding: 0 0 2em 44em;
    gap: 2em;

}

.content-plans {
    height: 22em;
   padding: 2em 8em 2em 8em;
}

.plan {
    font-weight: 700;
    padding-top: 0.5em;
    text-align: center;
}

.price {
    font-size: 3em;
    padding: 0.5em 0 0.5em 0;
    text-align: center; 
}

.projects {
    padding-bottom: 0.5em;
    text-align: center;
}

.components {
    padding-bottom: 0.5em;
    text-align: center;
}

.collaborators {
    padding-bottom: 0.5em;
    text-align: center;
}

.public-projects {
    padding-bottom: 2em;
    text-align: center;
}

.content-plans p>span {
    font-weight: 700;
    padding: 0.2em;
}

.content-plans.first a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.5em 0.9em 0.5em 0.9em;
}

.content-plans.second a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.6em 0.9em 0.6em 0.9em;
    margin-left: 0.7em;
}

.first {
    color: #000;
    background-color: rgba(255, 124, 76, 1);
}

.second {
    color: #fff;
    background-color: #000;
}