.flex-container {
  display: flex;
  background-color: DodgerBlue;
  width: 220px;
  height: 260px;
  flex-wrap: wrap;
  gap: 70px; /* Set gap to 70px */
}

.flex-container > div {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
}
