@media (width <=600px) {

    .home-container {
        padding-top: 1.5em;
    }

    .home-navbar {
        height: 1.1em;
    }

    .home-main {
        padding-bottom: 1.2em;
    }

    .home-left {
        display: none;
    }

    .Heading-2 {
        font-size: 1em;
        margin: 0;
        line-height: 22px;
    }

    .section-heading-text1 {
        font-size: 0.6em;
    }

    .home-cards-container {
       gap: 5px;
    }
    
    .category-card-category-card {
        flex: 0 0 48%;
    }

    .category-card-category-card img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    /* .category-card-image {
        width: 132px;
        height: 132px;
    } */

    .section-container {
        flex-direction: column;
    }

    .home-content {
        margin-bottom: 0.5em;
    }

    .home-text29 {
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .home-text30 {
        font-size: 0.5em;
        line-height: 1.5;
        width: 320px;
    }

    .home-left4 .button {
        padding: 0.3em 1em;
        margin-bottom: 1.5em;
    }

    .home-text31 {
        font-size: 0.6em;
    }

    .home-image6 {
        width: 100%;
    }

    .home-container07 {
        margin-top: 2em;
    }

    .home-text23 {
        line-height: 1.2;
        width: 110%;
        margin-bottom: 1em;
    }

    .home-text23 span {
        font-size: 0.6em;
        line-height: 1;
    }

    .section-heading-section-heading {
        margin-bottom: 1em;
    }

    .blog-post-card-text {
        font-size: 0.8em;
        margin: 0.5em 0;
    }

    .blog-post-card-text1 {
        font-size: 0.6em;
        margin-bottom: 1em;
    }

    .blog-post-card-container {
        padding: 1em 0;
    }

    .blog-post-card-container .button {
        font-size: 0.6em;
        padding: 0.3em 1em;
    }

    
    .home-footer1 {
        flex-direction: column-reverse;
        padding: 2em 0 0 0 ;
        font-size: 0.8em;
    }

    .home-container08 {
        justify-content: center;
    }

    .home-container09 {
        margin-top: 2em;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-text38,
    .home-text51 {
        margin-bottom: 1.5em;
    }
}