* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tree ul {
    list-style: none;
    padding-left: 1em;
}

.tree ul ul {
    margin-left: 1em;
}

.tree i {
    margin-right: 0.5em;
    cursor: pointer;
}

.tree .nested {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .nested {
    display: block;
}

label {
    cursor: pointer;
}
