* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 2em;
}

p {
    margin-bottom: 1em;
}

code {
    display: block;
    padding: 2em 2em 0.5em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    overflow: auto;
}

fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset label {
    font-weight: bold;
}

fieldset input {
    display: block;
    width: calc(100% - 1em);
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 16px;
}

.field {
    padding-bottom: 1.5em;
}
