h6 {
    padding-bottom: 0.3em;
}

li {
    display: block
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    color: #fff;
    background-color: rgba(47, 53, 57, 1);
}

.links,
.service,
.address {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.links {
    margin-left: 10em;
}

.icons {
    margin-right: 10em;
    margin-left: 10em;
}

.service,
.address,
.icons {
    height: 9em;
}

.links h6 {
    padding-left: 1.5em;
}

.address h6 {
    padding-right: 3.5em;
}

.service h6 {
    padding-right: 0.7em;
}

.icons h6 {
    padding-right: 1em;
}

.address ul li:nth-child(1) {
    padding-bottom: 1em;
}

.icons i {
    padding-right: 0.5em;
}

.links ul li,
.address ul li,
.service ul li {
    padding-bottom: 0.2em;
}