.site-header {
    display: flex;
    background-color: rgba(239, 239, 239, 1);
}

.header-content {
    min-height: 18em;
    margin-top: 6em;
    margin-left: 4.5em;
}

.header-content h3 span:last-child {
    padding-left: 0.3em;
    font-weight: 200;
}

.header-content p {
    font-size: 0.8em;
    font-weight: 500;
    font-style: italic;
    max-width: 40em;
    margin-top: 1.5em;
}

.header-content .border {
    border-left: 1px solid #000;
    height: 3em;
}

.man-photo {
    margin-top: auto;
    margin-left: 10em;
}

.man-photo img {
    max-height: 25em;
}

.site-nav {
    margin-left: auto;
    padding: 1em 1em 0 0;
}

.site-nav ul {
    display: flex;
}

.site-nav ul li {
    padding-right: 1em;
    display: block;
}