.images {
    margin-top: 1em;
    background-color: rgba(239, 239, 239, 1);
}

.cards {
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

.cards img {
    max-width: 27em;
    flex: 1 1 30%;
}

.second {
    z-index: 1;
    margin:0 -9.5em 0 -9.5em;
}

.first,.third {
    padding: 2em 0;
}