@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 "Kode Mono", sans-serif;
}

body, input, button, textarea {
  font: inherit;
}

body {
  padding: 2em;
  background-color: #C1BDBA;
}

form {
  max-width: 750px;
  margin: 0 auto;
  background-color: #24333C;
  color: #fff;
  padding: 4em;
  border-radius: 0.4em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  margin-bottom: 2em;
}

.nav li {
  flex: 1 1 auto;
  display: block;
  list-style: none outside;
}

.nav a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 1em 2em;
  text-align: center;
  background: #435359;
}

.nav a:hover {
  background-color: #2D7668;
}

.nav li.current a {
  background-color: #1AB188;
}

form h2 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 2em;
}

.field {
  position: relative;
  padding-bottom: 2em;
}

.field input {
  display: block;
  width: 100%;
  border: 1px solid #A0B3B0;
  background-color: transparent;
  padding: 0.3em 0.5em;
  line-height: 1;
  outline: none;
}

.field label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em 0.5em;
  color: #8B999E;
  pointer-events: none;
  transition: all 0.2s ease;
}

.field input:required ~ label::after {
  display: inline-block;
  content: '*';
  color: #1AB188;
  padding-left: 0.2em;
}
/*  bonus**
.field input:focus ~ label,
.field input:not(:placeholder-shown) ~ label {
  top: -1em;
  left: 0.3em;
  font-size: 0.75em;
  color: #1AB188;
  background-color: #24333C;
  padding: 0 0.2em;
}
*/

form input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #1AB188;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5em;
  margin-top: 1rem;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 2em;
}

.flex .field {
  flex: 1 1 auto;
}
