.sponsors hr{
    border: 1px solid rgba(204, 204, 204, 1);
}

.sponsors .container{
    text-align: center;
    padding: 2em 0;
}

.sponsors .container h4{
    color: var(--lightbrown);
}

.sponsors .container p {
    color: rgba(113, 101, 103, 1);
    font-size: 0.9em;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 3em 0;
}

.media img {
    background-color: rgba(221, 221, 221, 1);
    width: 5em;
    height: 5em;
    padding: 1em;
    border-radius: 50%;
}